body {
    background-color: #000000;
    color: #00ff88;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .App {
    text-align: center;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 0 rgb(0, 0, 0), 6px 6px 0 rgb(0, 255, 136);
    width: 100%;
    max-width: 800px;
    height: auto;
    max-height: 75vh;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  h4 {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #00ff88;
    background-color: #333333;
    color: #00ff88;
    width: 100%; 
    max-width: 400px; 
    height: 40px; 
    margin-bottom: 10px;
    box-sizing: border-box; 
  }
  
  input[type="text"]::placeholder {
    color: #888888;
  }
  
  button {
    background-color: #00ff88;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin: 5px 0;
    width: 100%;
    max-width: 100px;
  }
  
  button:hover {
    background-color: #00cc6e;
  }
  
  .task-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr auto; 
    gap: 10px; 
    background-color: #222222;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .task-header span {
    text-align: left;
    text-transform: uppercase; 
  }
  
  .task {
    background-color: #333333;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr auto;
    gap: 10px; 
    align-items: center;
  }
  
  .task span {
    word-wrap: break-word;
    text-align: left;
    text-transform: uppercase; 
  }
  
  .task button {
    background-color: transparent;
    color: #00ff88;
    border: 1px solid #00ff88;
    border-radius: 3px;
    padding: 5px;
    width: 100px;
    margin: 0; 
  }
  
  .task button:hover {
    background-color: #00ff88;
    color: #000000;
  }
  
  .task-list {
    margin-top: 10px;
    max-height: 60vh;
    overflow-y: auto;
  }
  